{
    "plugins": [
      [
        "module-resolver",
        {
          "cwd": "babelrc",
          "root": ["./src"],
          "extensions": [".js", ".ios.js", ".android.js"],
          "alias": {
            "mta_assets": "./src/assets",
            "mta_components": "./src/components",
            "mta_atoms": "./src/components/atoms",
            "mta_molecules": "./src/components/molecules",
            "mta_organisms": "./src/components/organisms",
            "mta_navigations": "./src/navigations",
            "mta_scenes": "./src/scenes",
            "mta_services": "./src/services",
            "mta_styles": "./src/styles",
            "mta_utils": "./src/utils"
          }
        }
      ]
    ]
  }